﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<section class="info-bar info-bar-clean">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-globe"></i>
                <h3>FULLY RESPONSIVE</h3>
                <p>Smarty Template is fully responsive</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-usd"></i>
                <h3>ADMIN INCLUDED</h3>
                <p>Smarty Template include admin</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-flag"></i>
                <h3>ONLINE SUPPORT 24/7</h3>
                <p>Free support via email</p>
            </div>

        </div>

    </div>
</section>*@
<!-- /INFO BAR -->
<!-- WELCOME -->
<section class="nopadding-bottom">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Welcome to Smarty</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
        </header>

        <div class="text-center">
            <p class="lead">
                Smarty has powerful options &amp; tools, unlimited designs, responsive framework and amazing support.
                We are dedicated to providing you with the best experience possible. Read below to find out why the sky's the limit when using Smarty.
            </p>
        </div>
    </div>
</section>
<!-- /WELCOME -->
<!-- -->
<section class="alternate">
    <div class="container">

        <div class="row" style="height:50px !important">
            <div class="col-md-5">
                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tablet"></i>
                    <a class="box-icon-title" href="#">
                        <h2>PEER TO PEER BITCOIN EXCHANGE</h2>
                    </a>
                    <p>FAST - SAFE - SIMPLE</p>
                    @*<a class="box-icon-more font-lato weight-300" href="#">Learn More</a>*@
                    <div class="row" style="text-align:center">
                        <div class="col-md-6">
                            @Html.Label("Buy AT:", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.Label("333,375.00 NGN", htmlAttributes: new { @class = "control-label col-md-12" })
                            <a href="#" class="btn btn-primary col-md-12">Buy Now</a>

                        </div>
                        <div class="col-md-6">
                                @Html.Label("Sell AT:", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.Label("333,375.00 NGN", htmlAttributes: new { @class = "control-label col-md-12" })
                            <a href="#" class="btn btn-danger col-md-12">Sell Now</a>

                            </div>
                    </div>
                </div>

            </div>

            <div class="col-md-7">

                <div class="box-icon box-icon-side box-icon-color box-icon-round">
                    <i class="fa fa-tint"></i>
                    <a class="box-icon-title" href="#">
                        <h2>Reusable Elements</h2>
                    </a>
                    @*<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>*@
                    <video src="~/Video/Tell Video.mp4" autoplay="autoplay"></video>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- / -->
<!-- -->
<section>
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Real Support. Real People.</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span></h2>
        </header>

        <div class="row">

            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>

                <a class="btn btn-default" href="#">LEARN MORE</a>
            </div>

            <div class="col-sm-6">
                <img class="img-responsive" src="~/assets/images/demo/index/support.jpg" alt="support" />
            </div>

        </div>
    </div>
</section>
<!-- RECENT NEWS -->

@*<section>
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h1 class="weight-300">Recent News</h1>
            <h2 class="weight-300 letter-spacing-1 size-13"><span>WE TRULY CARE ABOUT OUR CUSTOMERS</span></h2>
        </header>*@

        <!--
            controlls-over		= navigation buttons over the image
            buttons-autohide 	= navigation buttons visible on mouse hover only

            data-plugin-options:
                "singleItem": true
                "autoPlay": true (or ms. eg: 4000)
                "navigation": true
                "pagination": true
                "items": "4"

            owl-carousel item paddings
                .owl-padding-0
                .owl-padding-3
                .owl-padding-6
                .owl-padding-10
                .owl-padding-15
                .owl-padding-20
        -->
        @*<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
            <div class="img-hover">
                <a href="blog-single-default.html">
                    <img class="img-responsive" src="~/assets/images/demo/451x300/24-min.jpg" alt="">
                </a>

                <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
                <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                <ul class="text-left size-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i>
                        29th Jan 2015
                    </li>
                    <li>
                        <a href="blog-single-default.html#comments">
                            <i class="fa fa-comments"></i>
                            3
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>*@
<!-- /RECENT NEWS -->





