﻿@model Coin.Model.Customer

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="page-header">
    <div class="container">
        <h3>REGISTER</h3>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">

            <!-- LOGIN -->
            <div class="col-md-6 col-sm-6">

                @using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @class = "nomargin sky-form boxed", area = "Security" }))
                {
                    @Html.AntiForgeryToken()

                    <header>
                        <i class="fa fa-users"></i> Register
                    </header>

                    <fieldset class="nomargin">
                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-envelope"></i>
                            <input type="text" placeholder="Email address">
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>

                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-lock"></i>
                            <input type="password" placeholder="Password">
                            <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                        </label>

                        <label class="input margin-bottom-10">
                            <i class="ico-append fa fa-lock"></i>
                            <input type="password" placeholder="Confirm password">
                            <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                        </label>

                        <div class="row margin-bottom-10">
                            <div class="col-md-6">
                                <label class="input">
                                    <input type="text" placeholder="First name">
                                </label>
                            </div>
                            <div class="col col-md-6">
                                <label class="input">
                                    <input type="text" placeholder="Last name">
                                </label>
                            </div>
                        </div>

                        <label class="select margin-bottom-10 margin-top-20">
                            <select>
                                <option value="0" selected disabled>Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                            <i></i>
                        </label>

                        <div class="margin-top-30">
                            <label class="checkbox nomargin"><input class="checked-agree" type="checkbox" name="checkbox"><i></i>I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a></label>
                            <label class="checkbox nomargin"><input type="checkbox" name="checkbox"><i></i>I want to receive news and  special offers</label>
                        </div>
                    </fieldset>

                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> REGISTER</button>
                            </div>
                        </div>
                    <!-- /register form -->

                }

            </div>
            <!-- /LOGIN -->
        </div>


    </div>
</section>

@section Scripts{
    <script type="text/javascript">

        /**
            Checkbox on "I agree" modal Clicked!
        **/
        jQuery("#terms-agree").click(function () {
            jQuery('#termsModal').modal('toggle');

            // Check Terms and Conditions checkbox if not already checked!
            if (!jQuery("#checked-agree").checked) {
                jQuery("input.checked-agree").prop('checked', true);
            }

        });
    </script>
}