﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section class="page-header">
    <div class="container">
        <h3>LOGIN</h3>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">

            <!-- LOGIN -->
            <div class="col-md-6 col-sm-6">
                @using (Html.BeginForm("Login", "Access", FormMethod.Post, new { @class = "nomargin sky-form boxed", area = "Security" }))
                {
                    @Html.AntiForgeryToken()
                    <header class="size-18 margin-bottom-20">
                        I'm a returning customer
                    </header>

                        <fieldset class="nomargin">

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-envelope"></i>
                                <input required type="email" placeholder="Email address">
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>

                            <label class="input margin-bottom-10">
                                <i class="ico-append fa fa-lock"></i>
                                <input required type="password" placeholder="Password">
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>

                            <div class="clearfix note margin-bottom-30">
                                <a class="pull-right" href="#">Forgot Password?</a>
                            </div>

                            <label class="checkbox weight-300">
                                <input type="checkbox" name="checkbox-inline">
                                <i></i> Keep me logged in
                            </label>

                        </fieldset>

                        <footer>
                            <button type="submit" class="btn btn-primary noradius pull-right"><i class="fa fa-check"></i> OK, LOG IN</button>
                        </footer>
                }
            </div>
            <!-- /LOGIN -->
        </div>
    </div>
</section>